/* BASIC */
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.float_left{
    float: left;
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */

header h1{
text-align: center;
color: #E53170;
font-size:2.3rem;
font-weight: 900;
text-transform: capitalize;
}

.title_container
{
    padding:2.5rem 0
}

/* MAIN  */
main .main_container{
    width: 60%;
    margin: auto;
}

main .paragraph_conainer{
    text-align: center;
    padding-bottom: 1.5rem;
}

/* CARDS */

.card_container{
    
    background-color:rgb(15, 14, 23);
    width: calc((100% - 4rem)/3);
    
 /* calc by :simone taccori 
 (100% della width del padre  - 20px ("margin left" *2 che sono gli spazi che voglio lasciare fra le 3 card)) /3 le tre card */


    margin-bottom: 3rem;       
}

.card_container:not(:last-child){
   margin-right: 2rem; 
}

.card_container img{
    height: 100px;    
}

img,
.card_info_container{
    vertical-align: middle;

}
.card_info_container{
    color: whitesmoke;
    text-align: left;
    display: inline-block;
}
.card_info_container h2{
    text-transform: uppercase;
}
.card_info_container div{
    text-transform: capitalize;
}

.card_info_container a{
    color:rgb(87, 185, 241);
    text-decoration: none;
}


